autoflake==2.2.1
check-manifest==0.49
doc8==1.1.1
dulwich==0.21.6
flake8-commas==2.1.0
flake8-quotes==3.3.2
flake8==6.1.0
homebrew-pypi-poet==0.10.0
isort==5.12.0
mypy==1.6.1
pip-check-reqs==2.5.3
py==1.11.0
pydocstyle==6.3.0
pyenchant==3.2.2
pygithub==2.1.1
pylint==3.0.1
pyroma==4.2
pytest-cov==4.1.0  # Measure code coverage
pytest-timeout==2.2.0
requests-mock==1.11.0
sphinx==7.2.6
sphinx-autodoc-typehints==1.24.0
sphinx-click==5.0.1
sphinx-paramlinks==0.6.0
Sphinx-Substitution-Extensions==2022.2.16
sphinxcontrib-spelling==8.0.0
vendorize==0.3.0
vulture==2.10
yapf==0.40.2
