# Requirements which are indirectly needed for various reasons.
# That is, they are not imported by our code.
# -------------------------------------------------------------
# At the time of writing, with the latest versions of the DC/OS E2E direct
# dependencies, there is a version conflict for ``msrestazure``, an
# indirect dependency.
# Therefore, we pin a particular version which satisfies all requirements.
# See DCOS-40131.
msrestazure==0.6.4
# Without the following, some users get:
# The 'secretstorage' distribution was not found and is required by keyring
SecretStorage==3.3.3
# Without the following, some users get:
# ``ModuleNotFoundError: No module named 'keyring.util.escape'``
#
# See https://github.com/dcos/dcos-e2e/issues/1643.
keyrings.alt==5.0.0
# Requirements from DC/OS Launch
azure-common==1.1.28
azure-mgmt-network==25.1.0
azure-mgmt-resource==23.0.1
azure-mgmt-monitor==6.0.2
